

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <p> this is for the left part of the home page</p><br>
      <p>image ko kam baki</p>
      <p>pagination ko kam baki xa</p>
      Editor ko kam baki <br>    
      login and reg ko kam baki rampur ko app ma change garera tesma login ko information sikne kam baki xa
      <p></p>
    </div>
    <div class="col-md-3">
      <h3>Front-End Work</h3> <hr>
      <p><strong>1 = </strong> Aggregation baki xa</p>      
      <br>
      <hr><hr>
      <h4>Dashboard</h4>
      <p> <strong>1 = </strong>  Setting ko design garne ra tesma k k garnwa sakenxa study garne <br> like latest news sambandhi data  </p>
      <p> <strong>2 = </strong> Publishe na vayako ko eautwa nav link banayara tesma sabai store garne publish garnwa millne banaune </p>
      <p><strong>3 = </strong> User Registration page</p>
      <p><strong>4 = </strong> Delete Part Remaining </p>
      <p><strong>5 = </strong> Editning Part Remaining </p>
      <p><strong>6 = </strong> Login and Hidden part of navbar and backend Control </p>
      
    </div>
  </div>
</div>
